
body{
width: auto
}

.navegation-bar{

    display: flex;
}

.generic-buttons{

gap:25px;
width: 205px;
display: flex;
flex-direction: row;
margin-left: 400px;
margin-bottom: 20px;
;
}

.button-product{

    width: 75px;
    border-radius: 7px;
    background-color: rgb(55, 144, 226);
    border-color: rgb(55, 144, 226);
    color: white;
}

.button-buy{

    width: 75px;
    border-radius: 7px;
    background-color: rgb(240, 240, 240);
    border-color: rgb(240, 240, 240);

}



.paintings{

display: flex;
margin-bottom: -15px;
margin-left: 8px;

}


.anime-list{
display: flex;
}

.cards-list{
display: flex;
flex-direction: row;
gap: 20px;
list-style: none;


}

.card{

    background-color: rgb(240, 240, 240);
    padding: 15px;
    border-radius: 9px;

}

.card-2{

    background-color: rgb(240, 240, 240);
    padding: 15px;
    border-radius: 9px;

}

.picture{
    width: 198px;
    height: 200px;
    border-radius: 9px;
}

.desc{
    text-align: center;
    margin-left: auto;
}

p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
}